<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.example.zen.kotlinreddit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity
          android:name=".activities.MainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PostsActivity"
            android:launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation"

        >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->

                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->

                <!--&lt;!&ndash;<data android:host="*.reddit.com"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<data android:scheme="https"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<data android:pathPattern="/.*"/>&ndash;&gt;-->

                <!--<data android:scheme="https" android:host="*.reddit.com" android:pathPattern="/r/.*/" />-->
                <!--<data android:scheme="https" android:host="redd.it" android:pathPattern="/" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
          android:name=".activities.SubredditActivity"
          android:launchMode="singleInstance"
          android:configChanges="keyboardHidden|orientation"

        >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https" android:host="*.reddit.com" android:pathPattern="/r/.*/" />
                <data android:scheme="https" android:host="redd.it" android:pathPattern="/" />
            </intent-filter>
        </activity>

        <activity
          android:name=".activities.CommentsActivity"
          android:launchMode="singleInstance"
          android:configChanges="keyboardHidden|orientation"

        >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https" android:host="*.reddit.com" android:pathPattern="/r/.*/comments/.*" />
            </intent-filter>
        </activity>

    </application>

</manifest>